@media (max-width: 1400px) {

    .front-page-portrait img {
        position: absolute;
        left: -5%;
    }
}

@media (max-width: 1024px) {

    /****** HEADER     ******/

    .main-navigation .main-nav ul li a {
        @include font-size(15);
        padding-left: 8px;
        padding-right: 8px;
    }

    .nav-float-right .inside-header .main-navigation {
        margin-left: -14px;
    }
}

@media (max-width: 768px) {

    /****** HEADER     ******/

    .inside-header {
        padding: 18px 40px;
        align-items: center;
    }

    .inside-header>:not(:last-child) {
        margin-bottom: 0;
    }

    .main-title {
        @include font-size(26);
    }

    .site-description {
        @include font-size(20);
    }

    .site-logo {
        max-width: 120px;
        margin: 0 1em;
    }

    .nav-float-right .inside-header .main-navigation {
        margin-left: -7px;
    }

    .main-navigation .main-nav ul li a {
        font-size: 16px;
        font-size: 1rem;
        border-right: none;
        line-height: 2.2;
    }

    // disable hamburger. we don't need it.
    .main-navigation .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
    ////

    /****** FRONT-PAGE ******/

    blockquote {
        @include font-size(18);
    }

    /****** CONTACT PAGE ******/

    .page-id-169 .entry-content {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
    }

    .purchase-text, .contact-div {
        flex: 1 1 auto;
    }

    /****** FOOTER     ******/

    .site-info {
        padding-left: 20px;
        padding-right: 20px;
    }

    // #text-2 .textwidget {
    //     flex-direction: column;
    //     flex-wrap: nowrap;
    //     justify-content: flex-start;
    //     align-content: flex-start;
    //     align-items: flex-start;
    // }

    // .footer1-text {
    //     flex: 1 1 auto;
    //     align-self: flex-start;
    // }

    // .footer1-button.tr-button.button {
    //     flex: 1 1 auto;
    //     align-self: flex-start;
    //     margin: 20px 0 0 0;
    // }

    /****** ALL PAGES ******/
    .entry-content p img {
        float: left;
        max-width: 40%;
    }

}

@media (max-width: 600px) {

    /****** HEADER     ******/

    .inside-header {
        padding: 20px;
        flex-direction: column;
    }

    .site-branding { // flex-item
        flex: 0 0 auto;
        text-align: center;
        margin-bottom: .6em !important;
    }

    .main-title {
        @include font-size(22);
    }

    .site-description {
        @include font-size(20);
    }

    .site-logo {  // flex-item
        flex: 0 0 auto;
        max-width: 102px;
        margin-bottom: .5em !important;
    }

    .nav-float-right .inside-header .main-navigation { // flex-item
        flex: 0 0 auto;
    }

    .main-navigation .main-nav li {
        display: inline-block !important;
    }

    .main-navigation .main-nav ul li a {
        border-right: $colorBrightThree solid 1px;
        line-height: 1.2;
        @include font-size(14);

    }
    .main-navigation .main-nav li:last-child a {
        border-right: none;
    }

    /****** FRONT-PAGE ******/

    .front-page-portrait {
        display: none;
    }

    .home #main {
        width: 100%;
        float: none;
    }

    blockquote {
        @include font-size(16);
        text-align: left;
        padding-left: 20px;
    }

    .envira-gallery-wrap .envira-gallery-public.envira-gallery-2-columns .envira-gallery-item {
        width: 100% !important;
    }

    /****** CONTACT PAGE ******/

    .contact-div {
        margin: 1em;
        padding: 1em 1.5em .5em;
    }
}

@media (max-width: 440px) {
    .entry-content p img {
        float: none;
        max-width: 100%;
        margin: 0.3em 1.5em 1em 0;
    }


}

// GeneratePress breakpoints
// @media (max-width: 768px) {
    /* CSS in here for mobile only */
// }
// @media (min-width: 769px) and (max-width: 1024px) {
    /* CSS in here for tablet only */
// }
// @media (min-width: 1025px) {
    /* CSS in here for desktop only */
// }
