/*--------------------
>>> TABLE OF CONTENTS:
----------------------*/

/****** HEADER     ******/
/****** FRONT-PAGE ******/
/****** FOOTER     ******/
/****** ALL PAGES  ******/

/*--------------------*/

body {
  color: $color__text-main;
  background-color: $color__background-body;
}

.separate-containers .inside-article {
  color: $color__text-main;
}

/****** HEADER ******/

#masthead {
    z-index: 9999;
}

.inside-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 24px 40px;
}

.site-branding { // flex-item
    text-align: right;
    flex: 1 1 40%;
}

.main-title {
    @include font-size(34);
    line-height: 1;
}

.site-description {
    @include font-size(25);
    line-height: 1;
    margin-top: 0.3em;
}

.site-logo { // flex-item
    max-width: 160px;
    margin: 0 1.8em;
    flex: 0 0 auto;
}

.nav-float-right .inside-header .main-navigation { // flex-item
    float: none;
    margin: 0;
    flex: 1 1 40%;
    margin-left: -20px;
}

.main-navigation .main-nav ul li a {
    font-family: 'Palanquin', sans-serif;
    @include font-size(16);
    font-weight: 300;
    border-right: $colorBrightThree solid 1px;
    line-height: 1.2;
}
.main-navigation .main-nav li:last-child a {
    border-right: none;
}

/****** FRONT-PAGE ******/

/* fallback for browsers that don't support sticky */
.front-page-portrait {
  position: relative;
  top: -3px;
  z-index: -1;
  max-height: 10px;

  img {
      width: 40%;
    // max-height: calc(105vh - 193px);
  }
}

/* NOTE: @supports has to be at the root, not nested */
@supports(position:sticky){
  .front-page-portrait {
    position: sticky;
  }
}

.home #main {
    width: 80%;
    position: relative;
    float: right;
}

blockquote {
  @include display-regular;
  border-left: none;
  color: $colorBrightTwo;
  text-align: right;
  text-shadow: -1px 1px 3px rgba(34, 34, 34, 0.5);
  padding-left: 3em;
  padding-top: 0;

  cite {
    font-family: $font__text;
    font-style: normal;
  }
}

/* Galleries */
#envira-gallery-186 .envira-album-title {
  font-family: $font__display;
  font-weight: 400;
  color: $colorBrightThree;
  letter-spacing: 0.5px;
}

.envirabox-overlay {
    background-image: none !important;
    background-color: $colorBlack !important;
}

.envirabox-skin.envirabox-theme-captioned .envirabox-title-float-wrap span.child {
    background: #000 !important;
    color: #FF652F !important;
    font-family: "Palanquin",sans-serif;
    font-weight: 300;
    @include font-size(21);
}

.envirabox-nav span {
    visibility: visible !important;
}

// remove gradient on lightbox toolbar and move up
#envirabox-buttons ul {
    margin: 0 auto 40px !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow:  none;
    background: #222222;
    background-image: none !important;
}

/****** FOOTER ******/

.site-info {
    @include font-size(13);
}

/****** ALL PAGES ******/

.separate-containers .inside-article {
  background: transparent;
}

i.fa.fa-angle-up {
    color: $colorBrightThree-lighter;
}

.button {
    background-color: $colorBrightOne;
    border: 2px solid $colorBrightTwo;
    border-radius: 9px;
    text-transform: uppercase;

        &:hover {
            background-color: $colorBrightThree;
        }

        a {
            color: #333333;
            @include display-semi;
        }
        &:hover a {
            color: $colorBrightTwo;
        }
}
